In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Resources/Mental health Depression disorder Data.csv')

In [3]:
df1.head()

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260

In [4]:
df2 = pd.read_csv('Resources/Suicide Rates from 2011-2017.csv', encoding='ISO-8859-1',header=2)

In [5]:
pd.set_option('display.max_columns', None)
df2.head()

,Location,Period,First Tooltip(Both sexes),First Tooltip(Male),First Tooltip(Female)
0,Afghanistan,2017.0,6.0 [3.4-9.9],6.3 [3.7-10.7],5.5 [3.1-9.0]
1,Afghanistan,2016.0,6.0 [3.5-9.9],6.2 [3.6-10.3],5.8 [3.3-9.5]
2,Afghanistan,2015.0,6.0 [3.5-9.9],6.1 [3.6-10.2],5.8 [3.3-9.4]
3,Afghanistan,2014.0,6.0 [3.5-9.9],6.1 [3.6-10.2],5.9 [3.4-9.5]
4,Afghanistan,2013.0,6.2 [3.6-10.2],6.3 [3.7-10.5],6.0 [3.5-9.8]

In [6]:
# Clean df1 if necessary
if df1.columns.nlevels > 1:
    df1 = df1.iloc[4:]  # Skip metadata rows if applicable
    df1.columns = df1.columns.droplevel(0)  # Drop first level of multi-index if needed
    df1.columns = df1.columns.droplevel(0)  # Drop second level of multi-index if needed

# Rename columns if they are not as expected
df1 = df1.rename(columns={'Location': 'Country', 'Period': 'Year'})

In [7]:
# Inspect df2 column names
print(df2.columns)

Index(['Location', 'Period', 'First Tooltip(Both sexes)',
       'First Tooltip(Male)', 'First Tooltip(Female)'],
      dtype='object')

In [8]:
# Rename columns based on actual names
df2 = df2.rename(columns={
    'Location': 'Country',
    'Period': 'Year',
    'Age-standardized suicide rates (per 100 000 population)': 'Both sexes',
    'Age-standardized suicide rates (per 100 000 population).1': 'Male',
    'Age-standardized suicide rates (per 100 000 population).2': 'Female'
})

# Check the columns again to confirm renaming
print(df2.columns)

Index(['Country', 'Year', 'First Tooltip(Both sexes)', 'First Tooltip(Male)',
       'First Tooltip(Female)'],
      dtype='object')

In [9]:
# Print the columns to verify
print(df2.columns)

# Proceed only if the columns are present
if all(col in df2.columns for col in ['Country', 'Year', 'Both sexes', 'Male', 'Female']):
    df2 = df2[['Country', 'Year', 'Both sexes', 'Male', 'Female']]
else:
    print("Some columns are missing or have different names.")

Index(['Country', 'Year', 'First Tooltip(Both sexes)', 'First Tooltip(Male)',
       'First Tooltip(Female)'],
      dtype='object')
Some columns are missing or have different names.

In [10]:
print("df1 columns:", df1.columns)
print("df2 columns:", df2.columns)

df1 columns: Index(['index', 'Entity', 'Code', 'Year', 'Schizophrenia (%)',
       'Bipolar disorder (%)', 'Eating disorders (%)', 'Anxiety disorders (%)',
       'Drug use disorders (%)', 'Depression (%)',
       'Alcohol use disorders (%)'],
      dtype='object')
df2 columns: Index(['Country', 'Year', 'First Tooltip(Both sexes)', 'First Tooltip(Male)',
       'First Tooltip(Female)'],
      dtype='object')

In [11]:
df1

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
...,...,...,...,...,...,...,...,...,...,...,...
6463,6463,Zimbabwe,ZWE,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641
6464,6464,Zimbabwe,ZWE,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470
6465,6465,Zimbabwe,ZWE,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751
6466,6466,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269
6467,6467,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943

In [12]:
df2

,Country,Year,First Tooltip(Both sexes),First Tooltip(Male),First Tooltip(Female)
0,Afghanistan,2017.0,6.0 [3.4-9.9],6.3 [3.7-10.7],5.5 [3.1-9.0]
1,Afghanistan,2016.0,6.0 [3.5-9.9],6.2 [3.6-10.3],5.8 [3.3-9.5]
2,Afghanistan,2015.0,6.0 [3.5-9.9],6.1 [3.6-10.2],5.8 [3.3-9.4]
3,Afghanistan,2014.0,6.0 [3.5-9.9],6.1 [3.6-10.2],5.9 [3.4-9.5]
4,Afghanistan,2013.0,6.2 [3.6-10.2],6.3 [3.7-10.5],6.0 [3.5-9.8]
...,...,...,...,...,...
1461,Zimbabwe,2012.0,33.1 [18.1-51.3],50.7 [26.6-77.7],20.9 [12.1-33.2]
1462,Zimbabwe,2011.0,34.3 [18.8-53.2],52.4 [27.6-80.1],21.8 [12.6-34.7]
1463,Zimbabwe,2010.0,35.0 [19.1-54.5],51.6 [27.1-79.0],23.9 [13.6-38.3]
1464,NaN,NaN,NaN,NaN,NaN
1465,"Applied filters:\r\nLatestYearLabel is 2012, 2...",NaN,NaN,NaN,NaN

In [13]:
# Check the data types and unique values for the 'Year' column
print(df1['Year'].dtype)
print(df1['Year'].unique())

# Inspect the first few rows of df1 and df2
df1.head()
df2.head()

int64
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017]

,Country,Year,First Tooltip(Both sexes),First Tooltip(Male),First Tooltip(Female)
0,Afghanistan,2017.0,6.0 [3.4-9.9],6.3 [3.7-10.7],5.5 [3.1-9.0]
1,Afghanistan,2016.0,6.0 [3.5-9.9],6.2 [3.6-10.3],5.8 [3.3-9.5]
2,Afghanistan,2015.0,6.0 [3.5-9.9],6.1 [3.6-10.2],5.8 [3.3-9.4]
3,Afghanistan,2014.0,6.0 [3.5-9.9],6.1 [3.6-10.2],5.9 [3.4-9.5]
4,Afghanistan,2013.0,6.2 [3.6-10.2],6.3 [3.7-10.5],6.0 [3.5-9.8]

In [16]:
df2_cleaned = df2.rename(columns={
    'Country': 'Country',
    'Both sexes': 'Both sexes',
    'Male': 'Male',
    'Female': 'Female'
})

# Remove any non-numeric entries in 'Year'
df2_cleaned['Year'] = pd.to_numeric(df2_cleaned['Year'], errors='coerce')

# Drop rows where 'Year' could not be converted
df2_cleaned = df2_cleaned.dropna(subset=['Year'])

# Convert 'Year' to integers
df2_cleaned['Year'] = df2_cleaned['Year'].astype(int)

# Filter rows for the years 2012-2017
df2_cleaned = df2_cleaned[df2_cleaned['Year'].between(2010, 2017)]

# Clean df1
# Ensure that 'Year' is cleaned and correctly formatted
df1_cleaned = df1.rename(columns={
    'Entity': 'Country',
    'Year': 'Year'
})

# Remove any non-numeric entries in 'Year'
df1_cleaned['Year'] = pd.to_numeric(df1_cleaned['Year'], errors='coerce')

# Drop rows where 'Year' could not be converted
df1_cleaned = df1_cleaned.dropna(subset=['Year'])

# Convert 'Year' to integers
df1_cleaned['Year'] = df1_cleaned['Year'].astype(int)

# Filter rows for the years 2012-2017
df1_cleaned = df1_cleaned[df1_cleaned['Year'].between(2010, 2017)]

# Merge the datasets on 'Country' and 'Year'
merged_df = pd.merge(df1_cleaned, df2_cleaned, on=['Country', 'Year'], how='inner')

merged_df

,index,Country,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),First Tooltip(Both sexes),First Tooltip(Male),First Tooltip(Female)
0,20,Afghanistan,AFG,2010,0.165130,0.705313,0.097327,4.862777,2.571349,4.130874,0.662062,6.7 [3.9-10.9],6.9 [4.0-11.3],6.4 [3.8-10.3]
1,21,Afghanistan,AFG,2011,0.165272,0.705688,0.098638,4.864773,2.573170,4.130862,0.662254,6.4 [3.8-10.5],6.6 [3.8-10.9],6.2 [3.7-10.1]
2,22,Afghanistan,AFG,2012,0.165424,0.706086,0.099891,4.867283,2.576189,4.132485,0.662372,6.2 [3.6-10.2],6.4 [3.7-10.5],6.1 [3.6-9.8]
3,23,Afghanistan,AFG,2013,0.165579,0.706471,0.101291,4.869701,2.572396,4.134661,0.662433,6.2 [3.6-10.2],6.3 [3.7-10.5],6.0 [3.5-9.8]
4,24,Afghanistan,AFG,2014,0.165742,0.706876,0.103137,4.872256,2.562885,4.133526,0.662447,6.0 [3.5-9.9],6.1 [3.6-10.2],5.9 [3.4-9.5]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,6463,Zimbabwe,ZWE,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641,31.4 [17.2-48.9],46.4 [24.2-71.2],21.3 [12.3-34.1]
1276,6464,Zimbabwe,ZWE,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470,30.8 [16.7-48.4],45.3 [23.5-70.1],21.1 [12.1-33.9]
1277,6465,Zimbabwe,ZWE,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751,30.7 [16.6-48.3],47.4 [24.5-73.4],19.2 [11.0-30.9]
1278,6466,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269,28.7 [15.4-45.3],44.5 [22.8-69.2],17.7 [10.0-28.6]
1279,6467,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943,25.9 [13.8-40.9],41.3 [21.2-64.6],15.0 [8.5-24.3]

In [17]:
merged_df.to_csv('output.csv', index=False)

In [18]:
df1_cleaned

,index,Country,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
20,20,Afghanistan,AFG,2010,0.165130,0.705313,0.097327,4.862777,2.571349,4.130874,0.662062
21,21,Afghanistan,AFG,2011,0.165272,0.705688,0.098638,4.864773,2.573170,4.130862,0.662254
22,22,Afghanistan,AFG,2012,0.165424,0.706086,0.099891,4.867283,2.576189,4.132485,0.662372
23,23,Afghanistan,AFG,2013,0.165579,0.706471,0.101291,4.869701,2.572396,4.134661,0.662433
24,24,Afghanistan,AFG,2014,0.165742,0.706876,0.103137,4.872256,2.562885,4.133526,0.662447
...,...,...,...,...,...,...,...,...,...,...,...
6463,6463,Zimbabwe,ZWE,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641
6464,6464,Zimbabwe,ZWE,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470
6465,6465,Zimbabwe,ZWE,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751
6466,6466,Zimbabwe,ZWE,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269
6467,6467,Zimbabwe,ZWE,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943

In [21]:
df1.columns

Index(['index', 'Entity', 'Code', 'Year', 'Schizophrenia (%)',
       'Bipolar disorder (%)', 'Eating disorders (%)', 'Anxiety disorders (%)',
       'Drug use disorders (%)', 'Depression (%)',
       'Alcohol use disorders (%)'],
      dtype='object')