In [2]:
import pandas as pd
from pathlib import Path

In [3]:
df1 = pd.read_csv('Resources/Monopoly_Alcohol_Imports.csv')
df2 = pd.read_csv('Resources/Merged Suicide Rates.csv')
# Rename 'Entity' to 'Country' in df2 for consistency
df2 = df2.rename(columns={'Entity': 'Country'})

# Merge the datasets on 'Country' (Location in df1 and Entity in df2) and 'Year'
merged_df = pd.merge(df1, df2, left_on=['Location', 'Period'], right_on=['Country', 'Year'], how='inner')

# Select only the required columns
final_df = merged_df[['Country', 'Year', 'Alcohol use disorders (%)', 'Dim1', 'Dim1ValueCode']]

# Display the final DataFrame
final_df

,Country,Year,Alcohol use disorders (%),Dim1,Dim1ValueCode
0,Argentina,2016.0,1.822573,Beer,ALCOHOLTYPE_SA_BEER
1,Argentina,2016.0,NaN,Beer,ALCOHOLTYPE_SA_BEER
2,Argentina,2016.0,1.822573,Spirits,ALCOHOLTYPE_SA_SPIRITS
3,Argentina,2016.0,NaN,Spirits,ALCOHOLTYPE_SA_SPIRITS
4,Argentina,2016.0,1.822573,Wine,ALCOHOLTYPE_SA_WINE
...,...,...,...,...,...
997,Zimbabwe,2016.0,NaN,Beer,ALCOHOLTYPE_SA_BEER
998,Zimbabwe,2016.0,1.513269,Spirits,ALCOHOLTYPE_SA_SPIRITS
999,Zimbabwe,2016.0,NaN,Spirits,ALCOHOLTYPE_SA_SPIRITS
1000,Zimbabwe,2016.0,1.513269,Wine,ALCOHOLTYPE_SA_WINE
1001,Zimbabwe,2016.0,NaN,Wine,ALCOHOLTYPE_SA_WINE

In [4]:
final_df.to_csv('AlcoholImports.csv', index=False)